.converter {
  background-color: black;
  color: white;
  padding: 5rem;
  text-align: center;
  border-radius: 5px;
  margin-inline: 1rem;
}

.converter input,
select {
  padding: 2px;
  border-radius: 5px;
}
